data/ASSISTments2009/assistments_2009_2010.csv
data/ASSISTments2012/2012-2013-data-with-predictions-4-final.csv
data/junyi2015/junyi_Exercise_table.csv
data/junyi2015/junyi_ProblemLog_original.csv

data/*/data/*
data/*/__pycache__/
data/__pycache__
__pycache__
data/NeurIPS2020/data/*

data/**/*.ipynb
models/**/*.ipynb

data/*/splits/*
data/*/keys/*

**/.ipynb_checkpoints/

test.ipynb

user_results.csv

graphics/*

models/snapshots/*